{% extends 'fak_owner/base.html' %}

{% block css %}
<style>
    .form {
        width: 100%;
        margin: 0 auto;
    }
    .form_label_and_input > div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .form_label_and_input > label {
        flex: 1;
    }
    .form_label_and_input > input, select {
        flex: 2;
    }
    .action_butons {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr;
    }

</style>
{% endblock css %}


{% block body %}
<div class="d-flex justify-content-between">
    <h3>Нова фактура</h3><button id="show_hideme" class="btn btn-sm btn-success mt-2">Скрии/покажи основни данни</button>
</div>
<!-- forma -->
<form action="" method="POST" class="form">
    {% csrf_token %}
    <div class="form_label_and_input">
        <div class="form_label_and_input" id="common_data">
            {{fak_form}}
        </div>
    <table class="table mt-2">
        <thead class="table-dark">
            <tr class="product_input">
                <th>Продукт</th>
                <th style="width: 5px">Кол</th>
                <th>ДДС</th>
                <th>Ед.Цена Брутна</th>
                <th>Тотал</th>
            </tr>
        </thead>

        <tbody id="fak_form_products">
        <tr class="product_input">
            {% for product in produkt_form %}
                <td>{{product}}</td>
            {% endfor %}
                <td id="total_suma"></td>
        </tr>
        </tbody>
    </table>

    <!-- {{produkt_form}} -->
    </div>
    <div class="action_butons">

        <button id="add_new_row" class="btn btn-sm btn-success mb-2">Добави ред</button>

        <button id="remove_last_row" class="btn btn-sm btn-danger mb-2">Премахни ред</button>

    </div>
        <input type="submit" value="Запис" class="btn btn-sm btn-success form-control">
</form>

<script>
    let show_hide_button = document.querySelector("#show_hideme")
    let x = document.querySelector("#common_data")
    let total = document.querySelector("#total_suma")
    let ed_price = document.querySelector("#id_cena_brutna_ed")
    let id_kol = document.querySelector("#id_kol")

    ed_price.addEventListener("change", function () {
        // alert(`${ed_price.value} : ${total.innerHTML}`)
       total.innerHTML += parseFloat(ed_price.value) * parseInt(id_kol.value)
    })

    show_hide_button.addEventListener("click", function () {
        if (x.style.display === "none") {
            x.style.display = "block";
        } else { 
            x.style.display = "none";
        }
    })

</script>
{% endblock body %}